language_diarization/exps
language_diarization/data
language_diarization/mfcc
language_diarization/tmp
speaker_diarization/data
speaker_diarization/mfcc
speaker_diarization/exp/displace_sad_tdnn_stats_decode_dev
**/*.gz
tools/kaldi
pretrained_models
utils/dscore
*.npy
__pycache__/
**/__pycache__/
**/*.log
**/q
**/log
LanguageNet.py
pretrained_models
loss
extract_embeddings_for_kaldi.py
language_diarization/pretrained_models/lang-id-voxlingua107-ecapa/classifier.ckpt
language_diarization/pretrained_models/lang-id-voxlingua107-ecapa/label_encoder.ckpt
language_diarization/pretrained_models/lang-id-voxlingua107-ecapa/hyperparams.yaml
language_diarization/pretrained_models/lang-id-voxlingua107-ecapa/embedding_model.ckpt
language_diarization/pretrained_models/spkrec-ecapa-voxceleb/classifier.ckpt
language_diarization/pretrained_models/spkrec-ecapa-voxceleb/label_encoder.ckpt
language_diarization/pretrained_models/spkrec-ecapa-voxceleb/mean_var_norm_emb.ckpt
language_diarization/pretrained_models/spkrec-ecapa-voxceleb/hyperparams.yaml
language_diarization/pretrained_models/spkrec-ecapa-voxceleb/embedding_model.ckpt
